<br>
<div id="wrapper" style="text-align: center">
  <div id="yourdiv" style="display: inline-block;">
    <ul class="nostyle">
      <li>
        <a [href]="googleLoginUrl" id="googleLink" class="btn btn-block btn-social btn-google">
          <span class="fa fa-google"></span> Sign in with Google
        </a>
      </li>
      <li>
        --------- OR ---------
      </li>
      <li>
        <a [href]="facebookLoginUrl" id="facebookLink" class="btn btn-block btn-social btn-facebook">
          <span class="fa fa-facebook"></span> Sign in with Facebook
        </a>
      </li>
    </ul>
  </div>

</div>
