<md-card>
  <form [formGroup]="dataForm" (ngSubmit)="submit(dataForm.value)" >
    <md-card>
      <h4>Product Info</h4>
      <div class="row">
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Product_Info_1" placeholder="Product_Info_1"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Product_Info_2" placeholder="Product_Info_2"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Product_Info_3" placeholder="Product_Info_3"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Product_Info_4" placeholder="Product_Info_4"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Product_Info_5" placeholder="Product_Info_5"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Product_Info_6" placeholder="Product_Info_6"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Product_Info_7" placeholder="Product_Info_7"></md-input-container>
        </div>
      </div>
    </md-card>
    <br>
    <md-card>
      <h4>Health Info</h4>
      <div class="row">
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Ins_Age" placeholder="Ins_Age"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Ht" placeholder="Ht"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Wt" placeholder="Wt"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="BMI" placeholder="BMI"></md-input-container>
        </div>
      </div>
    </md-card>
    <br>
    <md-card>
      <h4>Employment Info</h4>
      <div class="row">
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Employment_Info_1" placeholder="Emp_Info_1"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Employment_Info_2" placeholder="Emp_Info_2"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Employment_Info_3" placeholder="Emp_Info_3"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Employment_Info_4" placeholder="Emp_Info_4"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Employment_Info_5" placeholder="Emp_Info_5"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Employment_Info_6" placeholder="Emp_Info_6"></md-input-container>
        </div>
      </div>
    </md-card>
    <br>
    <md-card>
      <h4>Insured Info</h4>
      <div class="row">
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="InsuredInfo_1" placeholder="InsuredInfo_1"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="InsuredInfo_2" placeholder="InsuredInfo_2"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="InsuredInfo_3" placeholder="InsuredInfo_3"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="InsuredInfo_4" placeholder="InsuredInfo_4"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="InsuredInfo_5" placeholder="InsuredInfo_5"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="InsuredInfo_6" placeholder="InsuredInfo_6"></md-input-container>
        </div>
      </div>
    </md-card>
    <br>
    <md-card>
      <h4>Insurance History</h4>
      <div class="row">
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Insurance_History_1" placeholder="Ins_History_1"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Insurance_History_2" placeholder="Ins_History_2"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Insurance_History_3" placeholder="Ins_History_3"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Insurance_History_4" placeholder="Ins_History_4"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Insurance_History_5" placeholder="Ins_History_5"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Insurance_History_6" placeholder="Ins_History_6"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Insurance_History_7" placeholder="Ins_History_7"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Insurance_History_8" placeholder="Ins_History_8"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Insurance_History_9" placeholder="Ins_History_9"></md-input-container>
        </div>
      </div>
    </md-card>
    <br>
    <md-card>
      <h4>Family History</h4>
      <div class="row">
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Family_Hist_1" placeholder="Family_Hist_1"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Family_Hist_2" placeholder="Family_Hist_2"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Family_Hist_3" placeholder="Family_Hist_3"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Family_Hist_4" placeholder="Family_Hist_4"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Family_Hist_5" placeholder="Family_Hist_5"></md-input-container>
        </div>
      </div>
    </md-card>
    <br>
    <md-card>
      <h4>Medical History</h4>
      <div class="row">
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_1" placeholder="Med_History_1"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_2" placeholder="Med_History_2"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_3" placeholder="Med_History_3"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_4" placeholder="Med_History_4"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_5" placeholder="Med_History_5"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_6" placeholder="Med_History_6"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_7" placeholder="Med_History_7"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_8" placeholder="Med_History_8"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_9" placeholder="Med_History_9"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_10" placeholder="Med_History_10"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_11" placeholder="Med_History_11"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_12" placeholder="Med_History_12"></md-input-container>
        </div>
      </div>
    </md-card>
    <md-card>
      <div class="row">
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_13" placeholder="Med_History_13"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_14" placeholder="Med_History_14"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_15" placeholder="Med_History_15"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_16" placeholder="Med_History_16"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_17" placeholder="Med_History_17"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_18" placeholder="Med_History_18"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_19" placeholder="Med_History_19"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_20" placeholder="Med_History_20"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_21" placeholder="Med_History_21"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_22" placeholder="Med_History_22"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_23" placeholder="Med_History_23"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_24" placeholder="Med_History_24"></md-input-container>
        </div>
      </div>
    </md-card>
    <md-card>
      <div class="row">
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_25" placeholder="Med_History_25"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_26" placeholder="Med_History_26"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_27" placeholder="Med_History_27"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_28" placeholder="Med_History_28"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_29" placeholder="Med_History_29"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_30" placeholder="Med_History_30"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_31" placeholder="Med_History_31"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_32" placeholder="Med_History_32"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_33" placeholder="Med_History_33"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_34" placeholder="Med_History_34"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_35" placeholder="Med_History_35"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_36" placeholder="Med_History_36"></md-input-container>
        </div>
      </div>
    </md-card>
    <md-card>
      <div class="row">
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_36" placeholder="Med_History_36"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_38" placeholder="Med_History_38"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_39" placeholder="Med_History_39"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_40" placeholder="Med_History_40"></md-input-container>
        </div>
        <div class="col-md-1">
          <md-input-container><input mdInput formControlName="Medical_History_41" placeholder="Med_History_41"></md-input-container>
        </div>
      </div>
    </md-card>
    <br>
    <md-card>
      <div class="row">
        <div class="col-md-4 col-md-offset-5">
          <button md-raised-button type="submit">Submit Proposal Data</button>
        </div>
      </div>
    </md-card>
  </form>
</md-card>